/*colors*/
$primary-color: #7f7f7f;
$secondary-color: #F4F4F8;
$hover-color: #7768AE;
$body-color: #F4F4F8;

/*nintendo-colors*/
$x-button: #4D9DE0;
$y-button: #3BB273;
$b-button: #E1BC29;
$a-button: #E15554;


/*fonts*/
$heading-font: 'Roboto Mono', monospace;
$post-font: Georgia, serif;
$nav-font: 'Press Start 2P', cursive;
$font-color: #000;
$secondary-font-color: #fff;
$font-background-1: #66569F;

/*screen sizes*/


/*mixins*/



/*nav elements*/

@mixin nav-box {
    color: $secondary-font-color;
    padding: 10px 2px;
    border-radius: 10%;
}

/*animations*/

@mixin animate-headings {
    position: relative;
    animation-name: heading-slide;
    animation-duration: 1.5s;
    animation-direction: forwards;
    animation-play-state: ease-in;

    @keyframes heading-slide {
        from { transform: translateX(-100%);}
        to {transform: translateX(40%);}
    }
}

@mixin animate-heading-2 {
    position: relative;
    animation-name: heading-slide;
    animation-duration: 2.5s;
    animation-direction: forwards;
    animation-play-state: ease-out;

    @keyframes heading-slide {
        from { transform: translateX(-400%);}
        to {transform: translateX(0);}
    }
}

@mixin appear-animation {
    position: relative;
    animation-name: fade-in;
    animation-duration: 4s;

    @keyframes fade-in {
        0% { opacity: 0;}
        50% {opacity: 0.1;}
        100% { opacity: 1 ;}
    }
}



$button-shadow: -3px 3px 3px;

$button-hover: scale(.9, .9);


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-color;
}

h1 {
    font-family: $heading-font;
    color: $font-color;
    font-size: 2em;
}

h2 {
    font-family: $heading-font;
    color: $font-color;
    font-size: 1.5em;
}

h3 {
    font-family: $heading-font;
    color: $font-color;
}

h5 {
    font-family: $heading-font;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/*homepage*/

@media only screen and (max-width: 580px)
    {

    .hero-image {
        position: relative;
        height: 100vh;
        overflow: hidden;
        /*background-image: url('../imgs/Hero_1600x900.jpg');*/
        background-color: $body-color;
        background-repeat: no-repeat; 
        background-position: center;
        background-size: cover;
    }   

    .inner-container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
        height: 100vh;
    }

    .hero-content {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: left;

        h1 {
            @include animate-headings;
        }

        h2 {
            color: $secondary-font-color;
            background-color: $font-background-1;
            text-transform: lowercase;
            @include animate-heading-2;
        }

        ul {
            padding-top: 15px;
            list-style: none;
            @include appear-animation;
        }

        li {
            display: inline-block;
        }
        
        a {
            img {
                width: 32px;
                height: 32px;
            }

        }

    }

}

@media only screen and (min-width: 580px) {

    .hero-image {
        position: relative;
        height: 100vh;
        overflow: hidden;
        /*background-image: url('../imgs/Hero_1600x900.jpg');*/
        background-color: $body-color;
        background-repeat: no-repeat; 
        background-position: center;
        background-size: cover;
    }   
    
    .inner-container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
        height: 100vh;
    }
    
    .hero-content {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        text-align: left;
    
        h1 {
            font-size: 3em;
            display: block;
            @include animate-headings;
        }

        h2 {
            color: $secondary-font-color;
            background-color: $font-background-1;
            text-transform: lowercase;
            font-size: 2em;
            @include animate-heading-2;
        }
    
        ul {
            padding-top: 15px;
            list-style: none;
            @include appear-animation;
        }
    
        li {
            display: inline-block;
            padding-right: 15px;
        }
        
        a {
            img {
                width: 56px;
                height: 56px;
            }
    
        }
    
    }
}


/*navbar*/

header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}

/*mobile navbar*/

@media only screen and (max-width: 580px) {

    nav {
        ul {
            list-style: none;
        }

        li {
            display: inline-block;
            padding: 0 1px;
            text-transform: uppercase;
            font-family: $nav-font;
            font-size: .7em;
        }

        .button-one {
            background-color: $y-button;
            @include nav-box;
            box-shadow: $button-shadow #339963;

        }

        .button-two {
            background-color: $x-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #2F8DDA;

        }

        .button-three {
            background-color: $a-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #DA2F2F;

        }

        .button-four {
            background-color: $b-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #C4A31C;
        }


        li:hover {
            transform: $button-hover;
        }

        a {
            text-decoration: none;
            color: $secondary-font-color;
        }
    }
}

/*big screen navbar*/

@media only screen and (min-width: 580px) {

    header {
        justify-content: space-between;

        img {
            padding-left: 10px;
        }
    }

    
    nav {
        ul {
            list-style: none;
        }

        li {
            display: inline-block;
            padding: 10px 15px;
            margin-right: 20px;
            text-transform: uppercase;
            font-family: $nav-font;
            font-size: 1em;
        }

        .button-one {
            background-color: $y-button;
            @include nav-box;
            box-shadow: $button-shadow #339963;

        }

        .button-two {
            background-color: $x-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #2F8DDA;

        }

        .button-three {
            background-color: $a-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #DA2F2F;

        }

        .button-four {
            background-color: $b-button;
            color: $secondary-font-color;
            @include nav-box;
            box-shadow: $button-shadow #C4A31C;

        }


        li:hover {
            transform: $button-hover;
        }

        a {
            text-decoration: none;
            color: $secondary-font-color;
        }
    }

}
    


/*section styling*/

main {
    
    h1 {
        font-family: $heading-font;
        font-size: 40px;
        text-align: center;
        margin: 10px auto 0px;
    }
      
      h1::after {
        content: "";
        position: relative;
        width: 100%;
        height: 15px;
        background-color: $font-background-1;
        display: block;
    
      }
}

section {

    h2 {    
        font-family: $heading-font;
        font-size: 32px;
    }

}

/*about page*/

.flexbox-container-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin: 5% 10% 5% 10%;
}

.about-box {
    width: 100%;
    margin: 1em;
}

#about-photo {
    width: 100%;
    height: 30vh;
    background-image: url("https://via.placeholder.com/150");
    background-size: cover;
    background-position: bottom;
    border: 2px $font-background-1 solid;
}

.title {
    font-style: bold;
    background: linear-gradient(to top, rgba(102, 86, 159, 0.4) 30%, transparent 30%);

}

.kick-ass {
    display: inline-block;
    font-style: italic;
}

@media only screen and (min-width: 790px) {
    
    #about-photo {
        flex-basis: 44%;
    }

    #about-0 {
        flex-basis: 44%;
    }

    #about-1 {
        flex-basis: auto;
    }

    #about-2 {
        flex-basis: auto;
    }

    #about-3 {
        flex-basis: auto;
    }

    #about-4 {
        flex-basis: auto;
    }

}

#box-resume {
    
    ul {
        list-style: none;    
    }

    li {
        display: inline-block;
    }
}

.icon {
    width: 20%;
    height: 20%;
}

/* projects page*/

.flexbox-container-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    margin: 5% 10% 5% 10%;
}

.project-box {
    position: relative;
    width: 100%;
    flex-basis: 35%;
    margin: 1em;
    border: 1px solid #54585a;
    background-color: #E6E6EA;
    box-shadow: 2px 2px 2px #b2b4b2;
    
    h3 {
        margin: 5px 0px 0px 5px;
    }

    p {
        display: block;
        margin: 5px 0px 0px 5px;
    }

    img {
        max-width: 100%;
        max-height: 300px;
    }

}

@media only screen and (min-width: 768px) {
    .flexbox-container-projects {
        justify-content: center;
    }
    
    .project-box {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 1260px) {
    .flexbox-container-projects {
        justify-content: flex-start;
    }
    
    .project-box {
        flex-basis: 29%;
    }
}

/*blog page*/


.flexbox-container-blog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    margin: 5% 10% 5% 10%;
}

.blog-box {
    position: relative;
    max-width: 350px;
    margin: 1em;
    border: 1px solid #54585a;
    background-color: #E6E6EA;
    box-shadow: 2px 2px 2px #b2b4b2;
    box-sizing: border-box;

    img {
        display: block;
        margin: 0px auto 10px;
        width: 100%;
        max-height: 30%;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }

    h2 {
        margin: 10px;
    }

    h5 {
        margin: 10px;
    }

    p {
        margin: 10px;
        display: block;
    }

    button {
        display: block;
        background-color: $font-background-1;
        color: $secondary-font-color;
        box-shadow: $button-shadow #66569F;
        font-family: $nav-font;
        padding: 5px;
        margin: 10px 0px 0px 10px;
    }

    button:hover {
        transform: $button-hover;
    }

    a {
        text-decoration: none;
        color: $secondary-color;
    }
}


@media only screen and (min-width: 580px) {
    .flexbox-container-blog {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 80vw;
        margin: 2% 8% 2% 8%;
    }

    .blog-box {
        min-width: 350px;
        max-width: 30%;
        margin: 1em;
        margin: 10px;
    }
}

/*blog posts*/

.blog-post-container {
    padding: 55px 10px 40px 10px;
    background-color: $secondary-color;

    h2 {
        font-size: 2em;
        padding-bottom: 5px;
    }

    img {
        width: 100%;
        margin-bottom: 10px;
    }

    h5 {
        font-family: $heading-font;
        margin-bottom: 10px;
    }
}

.post-content {
    p {
        margin-bottom: 20px;
        line-height: 1.5;
        font-family: $post-font;
        font-size: 1.2em;
    }
}

/*contact page*/

.contact-form-container {
    width: 80vw;
    position: relative;
    margin: 0px auto;
}

#contact-form {
    background: $secondary-color;
    padding: 25px;
    margin: 50px 10px;

    h3 {
        color: #F96;
        display: block;
        font-size: 30px;
        font-weight: 400;
    }

    h4 {
        margin:5px 0 15px;
        display:block;
        font-size:13px;
    }

    input {
        width:90%;
	    border:1px solid #CCC;
	    background:#FFF;
	    margin:0 0 5px;
	    padding:10px;
    }

    textarea {
        width:90%;
	    border:1px solid #CCC;
	    background:#FFF;
	    margin:0 0 5px;
	    padding:10px;
        height:100px;
	    max-width:100%;
        resize:none;
    }

    button {
        cursor:pointer;
        width:100%;
        border:none;
        background:#0CF;
        color:#FFF;
        margin:0 0 5px;
        padding:10px;
        font-size:15px;
    }

    button:hover {
        background:#09C;
        transition:background 0.3s ease-in-out;
    }
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

/* About carousel*/

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}